<div [@routerTransition] id="TenantDashboard">
    <!--<page-header></page-header>-->

    <!--<div nz-row [nzGutter]="24" class="pt-lg">-->
        <!--<div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">-->
            <!--<g2-card [title]="'总扫描量'" total="1,234" contentHeight="44px" [action]="action1" [footer]="footer1">-->
                <!--<ng-template #action1>-->
                    <!--<nz-tooltip [nzTitle]="'总扫描量指的是过去一周内全部的扫描量'">-->
                        <!--<i nz-tooltip class="anticon anticon-info-circle-o"></i>-->
                    <!--</nz-tooltip>-->
                <!--</ng-template>-->

                <!--<trend flag="up" style="display:block; margin-top:2px;">周同比-->
                    <!--<span class="pl-sm">12%</span>-->
                <!--</trend>-->
                <!--<trend flag="down">日环比-->
                    <!--<span class="pl-sm">11%</span>-->
                <!--</trend>-->

                <!--<ng-template #footer1>-->
                    <!--<p class="text-truncate mb0">日均扫描量-->
                        <!--<span class="ml-sm">352</span>-->
                    <!--</p>-->
                <!--</ng-template>-->
            <!--</g2-card>-->
        <!--</div>-->

        <!--<div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">-->

        <!--</div>-->
    <!--</div>-->

    <!--<div nz-row [nzGutter]="24">-->
        <!--<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">-->
            <!--<nz-card [nzBordered]="false" nzTitle="设备类型占比" [nzBodyStyle]="{'padding.px': 24}"-->
                     <!--style="min-height: 482px;">-->
                <!--<g2-pie [hasLegend]="true" subTitle="设备统计" [height]="248" [lineWidth]="4"-->
                        <!--[total]="equipmentTotal" [data]="equipmentPieData"></g2-pie>-->
            <!--</nz-card>-->
        <!--</div>-->
    <!--</div>-->
</div>
