<div [@routerTransition]>
    <h3>{{l("ForgotPassword")}}</h3>
    <form nz-form #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <p>
            {{l("SendPasswordResetLink_Information")}}
        </p>

        <nz-form-item>
            <nz-form-control>
                <input nz-input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus
                       type="text" autocomplete="off" placeholder="{{l('EmailAddress')}} *" name="emailAddress" required maxlength="256" email>
                <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
            </nz-form-control>

        </nz-form-item>

        <nz-form-item>
            <button nz-button [disabled]="saving" routerLink="/account/login" type="button">
                <i class="anticon anticon-arrow-left"></i> {{l("Back")}}
            </button>
            <button nz-button type="submit" [disabled]="!forgotPassForm.form.valid" [nzLoading]="saving" [nzType]="'primary'" >
                <i class="anticon anticon-check"></i> {{l("Submit")}}
            </button>
        </nz-form-item>
    </form>
</div>
