<nz-spin [nzSpinning]="saving">
    <form nz-form #changePasswordModalForm="ngForm" (ngSubmit)="save()" nzLayout="vertical" se-container="1">

        <se label="{{l('CurrentPassword')}}">
            <input nz-input #currentPasswordInput="ngModel" type="password" name="CurrentPassword"
                   [(ngModel)]="currentPassword" required>
            <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
        </se>

        <se label="{{l('NewPassword')}}">
            <input nz-input type="password" name="NewPassword" [(ngModel)]="password"
                   #NewPassword="ngModel" validateEqual="NewPasswordRepeat"
                   reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit"
                   [requireLowercase]="passwordComplexitySetting.requireLowercase"
                   [requireUppercase]="passwordComplexitySetting.requireUppercase"
                   [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                   [requiredLength]="passwordComplexitySetting.requiredLength"
                   required>

            <div *ngIf="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                <ul class="help-block text-error" *ngIf="NewPassword.errors">
                    <li [hidden]="!NewPassword.errors.requireDigit">
                        {{l("PasswordComplexity_RequireDigit_Hint")}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireLowercase">
                        {{l("PasswordComplexity_RequireLowercase_Hint")}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireUppercase">
                        {{l("PasswordComplexity_RequireUppercase_Hint")}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireNonAlphanumeric">
                        {{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requiredLength">
                        {{l("PasswordComplexity_RequiredLength_Hint",
                        passwordComplexitySetting.requiredLength)}}
                    </li>
                </ul>
            </div>
        </se>

        <se label="{{l('NewPasswordRepeat')}}">
            <input nz-input type="password" name="NewPasswordRepeat" [ngModel]="confirmPassword"
                   #NewPasswordRepeat="ngModel" validateEqual="NewPassword"
                   [requireDigit]="passwordComplexitySetting.requireDigit"
                   [requireLowercase]="passwordComplexitySetting.requireLowercase"
                   [requireUppercase]="passwordComplexitySetting.requireUppercase"
                   [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                   [requiredLength]="passwordComplexitySetting.requiredLength"
                   reverse="false" required>

            <div *ngIf="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                <ul class="help-block text-error" *ngIf="NewPasswordRepeat.errors">
                    <li [hidden]="!NewPasswordRepeat.errors.requireDigit">
                        {{l("PasswordComplexity_RequireDigit_Hint")}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">
                        {{l("PasswordComplexity_RequireLowercase_Hint")}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">
                        {{l("PasswordComplexity_RequireUppercase_Hint")}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">
                        {{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requiredLength">
                        {{l("PasswordComplexity_RequiredLength_Hint",
                        passwordComplexitySetting.requiredLength)}}
                    </li>
                    <li [hidden]="NewPasswordRepeat.valid">{{l("PasswordsDontMatch")}}</li>
                </ul>
            </div>
        </se>

        <div class="modal-footer">
            <button nz-button type="button" (click)="close()" [disabled]="saving">
                {{l("Cancel")}}
            </button>
            <button nz-button type="submit" [nzType]="'primary'" [disabled]="!changePasswordModalForm.form.valid || saving">
                <i class="anticon anticon-save"></i> <span>{{l("Save")}}</span>
            </button>
        </div>

    </form>
</nz-spin>




